<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>

   {% include header.html %}
  
   <div id="covid19_banner">
      COVID-19 Notice: In-person meetings are on hold, but on-line meetings are in full swing <a href="https://www.facebook.com/innisfiltoastmasters">Facebook page</a> 
   </div>

   <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/9c255335f266b333234eadb66/31094bd1ad83abf8279f63b8c.js");</script>
   
   <div class="content">
      <div class="container">
         {{ content }}
      </div>
   </div><!-- end .content -->

   {% include footer.html %}
   {% include scripts.html %}

</body>

</html>
